@model List<Order>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@using System.Globalization;
@if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css"
      integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N"
      crossorigin="anonymous">
    <style>
        .cr {
            direction: rtl;
        }</style>
}
@{
    ViewData["Title"] = localizer["All orders"];
}

<div class="container cr">
    <div class="col-md-8 offset-2">
        <p>
            <h4 class="text-white">@localizer["List of all your orders"]</h4>
        </p>

        <table class="table">
            <thead>
                <tr class="text-white">
                    <th>@localizer["Order ID"]</th>
                    <th>@localizer["Items"]</th>
                    <th>@localizer["Total"]</th>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <th>@localizer["User"]</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr class="text-warning">
                        <td class="align-middle">@order.Id</td>
                        <td class="align-middle">
                            <ul style="list-style-type:none">
                                @foreach (var item in order.OrderItems)
                                {
                                    <li>
                                        <div class="alert alert-info" role="alert">
                                            <span class="badge bg-warning">@item.Amount</span> [@item.Price.ToString("c")] - @item.Movie.Name
                                        </div>
                                    </li>
                                }
                            </ul>
                        </td>
                        <td class="align-middle">
                            @order.OrderItems.Select(m => m.Movie.Price * m.Amount).Sum().ToString("c")
                        </td>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <td class="align-middle text-warning"> @order.User.FullName </td>
                        }
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>