@model Movie
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@using System.Globalization;
@if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css"
      integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N"
      crossorigin="anonymous">
    <style>
        .cr {
            direction: rtl;
        }</style>
}
@{
    ViewData["Title"] = localizer["Movie details"];
}
<div class="container cr">
    <div class="col-md-8 offset-2">
        <div class="card mb-3">
            <div class="row g-0 bg-dark">
                <div class="col-md-12">
                    <div class="card-header text-white bg-warning">
                        <p class="card-text ">
                            <h5 class="card-title text-dark">
                                @Model.Name

                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="@Model.ImageURL" alt="@Model.Name" style="width:100%;">
                </div>
                <div class="col-md-8">
                    <div class="card-body text-white">
                        <p class="card-text">@Model.Description</p>
                        <p class="card-text">
                            <b>@localizer["Cinema:"] </b>
                            <a asp-controller="Cinemas" asp-action="Details" asp-route-id="@Model.CinemaId">
                                @Model.Cinema.Name
                            </a>
                        </p>
                        <p class="card-text">
                            <b>@localizer["Producer:"] </b>
                            <a asp-controller="Producers" asp-action="Details" asp-route-id="@Model.ProducerId">
                                @Model.Producer.FullName
                            </a>
                        </p>
                        <p class="card-text"><b>@localizer["Category:"] </b>@Model.MovieCategory</p>
                        <p class="card-text"><b>@localizer["Start Date:"] </b>@Model.StartDate.ToString("dd MMM yy")</p>
                        <p class="card-text"><b>@localizer["End Date:"] </b>@Model.EndDate.ToString("dd MMM yy")</p>
                        <p class="card-text">
                            <b>@localizer["status:"] </b>
                            @if (DateTime.Now >= Model.StartDate && DateTime.Now <= Model.EndDate)
                            {
                                <span class="badge bg-success text-white">@localizer["AVAILABLE"]</span>
                            }
                            else if (DateTime.Now > Model.EndDate)
                            {
                                <span class="badge bg-danger text-white">@localizer["EXPIRED"]</span>
                            }
                            else
                            {
                                <span class="badge bg-primary text-white">@localizer["UPCOMING"]</span>
                            }
                        </p>
                        <p class="card-text">
                            <b>@localizer["Actors :"]</b>
                            <hr />
                            <div class="row">
                                @foreach (var actor in Model.Actors_Movies)
                                {

                                    <div class="col text-center">
                                        <img class="border-info rounded-circle" src="@actor.Actor.ProfilePictureURL" style="max-width:150px" />
                                        <br />
                                        <a asp-controller="Actors" asp-action="Details" asp-route-id="@actor.ActorId">@actor.Actor.FullName</a>
                                    </div>

                                }
                            </div>
                        </p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer ">
                        <p class="card-text">
                            <a class="btn btn-outline-light float-lg-end" asp-action="Index">
                                @localizer["Back to List"]
                            </a>
                            <a class="btn btn-warning text-black" asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@Model.Id"><i class="bi bi-cart-plus"></i>@localizer["Add to Cart (Price"] @Model.Price.ToString("c"))</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>